.account-types {
  padding: 3rem 0 1rem;
}
.account-switcher {
  justify-content: center;
  margin-top: 2rem;
}

.account-switcher .nav-link {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2rem;
  color: #000;
  font-weight: bold;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.account-box {
  background: transparent;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
}
.vertical-text {
  display: none;
}
.account-box.collapsed {
  display: none;
}
.acc-watermark {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 20rem;
  max-width: 100%;
  opacity: 0.1;
}
.standard-acc {
  background: url("/fastone-logo-borderless.png") no-repeat;
  background-position: center;
  background-size: contain;
  left: 8rem;
}

.silver-acc {
  background: url("/fastone-logo-borderless.png") no-repeat;
  background-position: center;
  background-size: contain;
}

.gold-acc {
  background: url("/fastone-logo-borderless.png") no-repeat;
  background-position: right;
  background-size: contain;
  left: -8rem;
}

@media screen and (min-width: 767px) {
  .account-box {
    transition: flex 0.3s ease-in-out, max-height 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    padding: 3rem 1rem;
    border: 1px solid #ddd;
    text-align: center;
    height: 380px;
  }
  .expanded .vertical-text {
    display: none;
  }
  .account-box.expanded {
    flex: 3;
    max-height: 100%;
    margin: 0 2rem;
  }

  .account-box.collapsed {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
  }
  .collapsed .vertical-text {
    display: flex;
  }
  .collapsed .vertical-text {
    display: flex;
    transform: rotate(-90deg);
  }

  .expanded .vertical-text {
    display: none;
  }
  .h-content {
    display: none;
  }

  .expanded .h-content {
    display: block;
  }

  .collapsed .collapsed-label {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    writing-mode: vertical-rl;
    text-align: center;
    position: absolute;
    left: -25px;
    bottom: 50%;
    transform-origin: center;
    font-size: 18px;
    font-weight: bold;
  }

  .collapsed-label::after {
    content: "➔";
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
  }
  .acc-watermark {
    height: 20rem;
    width: 40rem;
    max-width: 100%;
  }
  .standard-acc {
    left: 16rem;
  }

  .silver-acc {
  }

  .gold-acc {
    left: -24rem;
  }
}
