.cta2btn {
  margin: 5rem 0;
  padding: 2rem 0;
  background: var(--primary-color);
  border-radius: 2rem;
  text-align: center;
}
.cta2btn h2 {
  font-size: 2rem;
  line-height: 1.25;
  color: #fff;
}
.cta2btn p {
  color: #fff;
}
.cta2btn .btn-one {
  margin: 1rem;
}
