.adv-2-grid{
  text-align: left;
  padding: 0;
}
.adv-2-grid h3{
font-size: 1.25rem;
}
.adv-2-box{
  margin: 1rem 0;
}
.adv-2-card{
  border: 1px solid #ccc;
  margin: 0 .5rem;
  border-radius: 2rem;
  height: 100%;
  padding: 1rem;
}
.adv-2-icon{
  width: 3rem;
  margin: 1rem;
}
@media screen and (min-width: 767px) {
  .adv-2-grid{
    text-align: left;
    padding: 2rem 1rem;
  }
}
