.hero {
    background-image: url("/images/bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30% top;
    min-height: 700px;
    width: 100%;
    height: auto;
    padding: 6.25rem 0 2.5rem;
  }
  .hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    grid-gap: 6rem;
  }
  .hero-title {
    color: #fff;
    font-size: 3.75rem;
    line-height: 1;
    font-family: MontBlack;
    margin-top: 4rem;
  }
  .hero-title-dark {
    display: block;
    color: #000;
  }
  .hero-desc {
    color: #fff;
    font-size: 1.125rem;
    line-height: 24px;
    padding: 0.75rem 0 1.25rem;
  }
  .hero-desc-list {
    color: #fff;
    font-size: 1.25rem;
  }
  .hero-btn-grp{
    display: flex;
  }
  .hero-btn-grp .btn-one{
    margin: 1rem 1rem 1rem 0;
    min-width: 10rem;
  }

  @media screen and (min-width: 767px) {
    .hero {
        background-position: center;
        min-height: 700px;
        height: 100vh;
        max-height: 1200px;
        padding: 0;
      }
      .hero-content {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        grid-gap: 6rem;
      }
      .hero-title {
        font-size: 4.25rem;
        line-height: 1.2;
        margin-top: 0;
      }
      .hero-title-dark {
        display: inline;
        color: #000;
        margin-left: 1rem;
      }
      .hero-btn-grp .btn-one{
        margin: 1rem 1rem 1rem 0;
        min-width: 12rem;
      }
    
  }