.pricing-table .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    transition: all 0.3s ease;
    height: 100%;
    text-align: center;
    border: 1px solid #f7f7f7;
  }
  .pricing-card .card-header,
  .pricing-card .card-body,
  .pricing-card .card-footer {
    background: #fff;
    padding: 2rem;
  }

  .pricing-card h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    color: #121a1e
  }
  .pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .pricing-feature {
    margin-bottom: 2.5rem;
  }
  
  .pricing-feature h6 {
    font-size: 0.875rem;
    font-weight: normal;
    color: #8c8c8c;
    margin-bottom: 0.5rem;
  }
  
  .pricing-feature p {
    font-size: 1.25rem;
    color: #333;
  }
  .pricing-feature ul{
    list-style-type: "- ";
    list-style-position: inside;
  }
  .pricing-card .card-footer{
    text-align: center;
    padding: .5rem;
  }
  .pricing-card .account-btn{
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 2rem;
    margin: 1rem 0;
  }

  @media (max-width: 768px) {
    .card-price {
      font-size: 2.5rem;
    }
  
    .pricing-card .card-header h4 {
      font-size: 1.5rem;
    }
  }
  